<h4>Success! Please use this link:</h4>
<a href="{{ record.URL }}" style="font-size: calc(1.275rem + .3vw);">{{ record.URL }}</a>
<div class="text-center">
  <button type="submit" class="btn btn-primary">Copy</button>
</div>